<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dash</title>
        <link rel="stylesheet" href="static/CSS-pages/dashBoard.css">

    </head>

    <body>
        <div class="mainBox">
            {% include '/components/navBar.html' %}

            <h1>Welcome {{username}}</h1>
            <h2>what is Course Compass? </h2>
            <p>Course Compass is a way for those who can't waste their parents money, procrastinate, and arent that bright lmao
            </p>

        </div>
    </body>

</html>