<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Schedule-inator</title>
        <link rel="stylesheet" href="static/CSS-pages/dashBoard.css">

    </head>

    <body>
        <div class="mainBox">
            {% include '/components/navBar.html' %}

            <h1>Profile and Settings</h1>

            <!-- the two forms -->
            <div class = 'profFroms'>
                <!-- past classes -->
                 <div>
                    <h2>Past Classes</h2>
                    <h3>These are your recently inputted classes<h3>
                 </div>

                <!-- socials -->
                 <div>
                    <h2>Social Media Links</h2>
                 </div>

            </div>
        </div>

    </body>

</html>