:root {

    --background: #323437; 
    --text-main: #D1D0C5; 
    --text-secondary: #646669;
    --box-color: #2C2E31; 
    --accent-color: #E2B712; 
    --accent-color-muted: #e2b81249;

    --screenFillSize: 400;
    --headerSize: 60; 
    --header2: 40; 
    --header3: 20;
    --text: 30;
    --subText: 28; 

}

.mainBox{
    display: flex;
    flex-direction: column;

}

body {
    background-color: var(--background);
    color: var(--text-main);
    font-family: Jetbrains-Light;
    letter-spacing: .1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
  }