<link rel="stylesheet" href="{{ url_for('static', filename='../CSS-components/navBar.css') }}">
<nav class="navbar">
    <div class="logo">
        <img src="{{ url_for('static', filename='/assets/images/Dr-Nefario.png') }}">
        <span>COURSE F!EN</span>
    </div>
    <div class="nav-links">
        <a href="{{ url_for('dashboard') }}" class="{% if active_page == 'dashboard' %}active{% endif %}">
            <i class="fas fa-home"></i> Home
        </a>
        <a href="{{ url_for('schedulebuilder') }}" class="{% if active_page == 'schedulebuilder' %}active{% endif %}">
            <i class="fas fa-user"></i> Schedule Builder
        </a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
            <i class="fas fa-music"></i> Analytics
        </a>
        <a href="{{ url_for('profile') }}" class="{% if active_page == 'profile' %}active{% endif %}">
            <i class="fas fa-user"></i> Profile & Settings
        </a>
    </div>
</nav>
